/*mobile first styles */
* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background-color: #2E4052;
    flex-direction: column;
    padding: 1EM;
}

main {
    background-color: #73956F;
    padding: 12px;
    margin: 20px;
}

header {
    background-color: #73956F;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

#bookButton {
    padding: 10px 5px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: #8B2635;
    color: #E5C3C6;
    font-size: 1em;
    font-weight: bolder;
    border: thick outset #8B2635;
    
}


#LibraryShelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    
}

.BookCard {
    background-color: #E5C3C6;
    width: 80vw;
    height: 80vh;
}

.BookCard h3 {
    padding: 1em;
}

.BookCard button {
    margin: 1em;
}

#newBookForm {
    padding: 8px;
    background-color: rgba(46, 64, 82, 0.4);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;

}

form {
    background-color:#f7ebec;
    padding: 16px;
    width: 60vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    gap: .5em;
    border: solid 10px #0B4F6C;
    
}

.formText {
    height: 3em;
    border: solid #2E4052;
}



#addBookButton {
    width: 10em;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    

}

/* full desktop adjustments */

@media screen and (min-width: 480px) { 
    

    header {
        padding: 8px 80px;
        text-align: center;
        display: flex;
        justify-content: space-between;

    }

    .BookCard {
        width: 240px;
        height: 320px;
    }

    form {
        width: 275px;
        height: 400px;
    }

}












