* {
    margin: 0px;
}

body {
    display: flex;
    background-color: khaki;
    flex-direction: column;
}
header {
    background-color: gray;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#LibraryShelf {
    display: flex;
}